@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');


#success{
  color: rgb(33, 190, 33);
}

#failure{
  color: rgb(244, 62, 62);
}

.data-container{
  margin-right: 2%;
  margin-top: 1.5%;

  font-size: 23px;
  font-family: 'Mulish', sans-serif;
}

#websocket, #time{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.meter-container{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}